.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal{
  width: 50%;
}

.submit-button{
  width: 70px;
  margin-top: 10px;
}

.modal-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: antiquewhite;
  margin-top: 30px;

}

form{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: antiquewhite;
  margin-top: 30px;

}

button{
  color: white;
  background-color: rgb(23, 57, 228);
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

